<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="RUS_UdlaanSystem" connectionString="Server=172.18.3.100,1433;Database=PcUdlaan;User Id=Administrator;Password=Kode1234!"/>
  </connectionStrings>

</configuration>