<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="RUS_UdlaanSystem" connectionString="Server=10.108.239.193,1433;Database=PcUdlaan;User Id=udlaansa;Password=4Ndet0wn"/>
  </connectionStrings>

</configuration>